body {
	font: normal 14px/100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f5f5f5;
}

.container {
	z-index: 1;
	position: relative;/**/
	padding: 10px 341px;
	margin: 0 50px;
}
.container::after{
	position: relative;
	content: "";
	display: block;
	background-color: #f5f5f5;
	height: 15px;
	width: 88%;
	border: solid 1px #DDDDDD;
	top: -10px;
	left: 5px;
	box-shadow: 0px 2px 13px -3px;
	
}

.header-list{
	color: #ead7d7;
	font-size: 20px;
	padding: 15px 30px;
	font-style: italic;
	border-bottom: 1px solid #ececec;
}

.header-input {
	color: #ead7d7;
	font: inherit;
	padding-left: 6%;
	border: 1px solid transparent;
	outline: none;
}

.header-input::-webkit-input-placeholder{
	color: #ead7d7;
}

.header-input::-moz-placeholder{
	color: #ead7d7;
}

ul {
	padding-left: 0px;
	margin: auto;
}

li {
	list-style-type: none;
}

li::after {
	display: block;
	content: "";
	height: 1px;
	background-color: #ececec;
}

h1 {
	text-align: center;
	color: #ead7d7;
	font-size: 100px;
	font-weight: normal;
}

.dropdown {
	position: relative;
	z-index: 1;
	/*padding: 10px 0px;*/
	min-width: 238px;
	width: 90%;
	background-color: white;
	box-shadow: 0 0 5px -2px;
}


.symbolv {
	cursor: pointer;
	display: inline-block;
	max-height: 10px;
	transform: rotate(75deg);
}

.symbolv:hover {
	color: #b7a2a2;
}


.checkbox {
	display: none;
}

.checkbox-custom {
	margin-left: 10px;
	position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
	width: 42px;             /* Обязательно задаем ширину */
	height: 42px;            /* Обязательно задаем высоту */
	/*border: 2px solid #ccc;*/
}

.checkbox-custom::before{
	content: "";             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	/* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>') no-repeat;    /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
}

.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-size: 20px;
}

.label{
	margin-left: 20px;
}


.checkbox:checked + .checkbox-custom::before {
	content: "";             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	/* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>') no-repeat;    /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
	border-radius: 2px;
}

input.checkbox:checked ~ .label {
	color: #D9D9D9;
	text-decoration: line-through;
}

/*.symbolx{
	float: right;
	padding-top: 3%;
	padding-right: 4%
}*/

#symbolx {
	float: right;
	padding-top: 1%;
	padding-right: 4%;
	text-decoration:none;
	font-size: 30px;
	color: #B5676A; 	
}

#symbolx:hover {
	color: #b5676a94;
}

.footer-list{
	padding: 10px 30px;
	color: #ababab;
	display: flex;
	justify-content: space-between; /*Центрирование по горизонтали*/
}


.button > span > a{
	text-decoration:none;
	color: #ababab;
	border: 1px solid transparent;
} 

.button > span > a:hover{
	border: 1px solid;
	border-color: #ffe5e5;
}

.button > span > a:active{
	border-color: #b3b3b3;
}

.dropdown::after{
	position: relative;
	content: "";
	display: block;
	background-color: #f5f5f5;
	height: 5px;
	width: 95%;
	left: 14px;
	border: 1px solid #DDDDDD;
	top: 13px;
	box-shadow: 0px 6px 20px -3px;
}

